.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.navbarLink {
    text-decoration: none;
    display: block;
}

.inner_main_menu {
    margin: 0 auto;
    width: auto;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.inner_main_menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.inner_main_menu ul li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    width: 200px;
    justify-content: center;
    vertical-align: middle;
}

.menuToggle {
    display: none;
}

.logo {
    width: 20vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 150px;
}

.LaguageDiv {
    color: #d0d9db;
    font-weight: bold;
    font-size: 1.5vw;
    padding-right: 10px;
    position: absolute;
    top: 65px;
    right: 0;
}

.moreDropdow {
    position: relative;
}

.moreDropdownContent {
    position: absolute;
    background-color: #d0d9db;
    z-index: 1;
    width: auto !important;
    padding: 1px !important;
    display: inline-block;
}

/* .moreDropdownContent.show{
    display: block;
} */

/* Styles for mobile screens */
@media (max-width: 600px) {
    .navbar {
        flex-wrap: nowrap;
        justify-content: space-between;
        display: none;
    }

    .navbar.open {
        display: block;
    }

    .navbarLink {
        width: 100%;
        text-align: center;
    }

    .menuToggle {
        display: block;
    }

    .LaguageDiv {
        font-size: 7vw;
        top: 10px;
    }

    .inner_main_menu ul {
        padding: 0px 0px 0px 0px;
        width: 100vw;

    }

    .logo {
        width: 60vw;
        padding-top: 120px;

    }
}